h1 Are you happy ?
div.row
  div.col-md-4
    button.btn-block(type='button', class='btn btn-primary', ng-click='vote("yes")') Yes
  div.col-md-4
    button.btn-block(type='button', class='btn btn-primary', ng-click='vote("no")') No
  div.col-md-4
    button.btn-block(type='button', class='btn btn-primary', ng-click='vote("idknow")') I don't know
