extends layout

block content
  div(class='jumbotron')
    div(class='container')
      h1 Welcome to TWEB Realtime Demo
      p This application uses AngularJS, ui-router, socket.io and bootstrap template. It demonstrates how to build realtime interactive webapps.
